<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="turtlebot">

<xacro:include filename="$(find bot_with_camera)/urdf/cam.gazebo"/>

<xacro:property name="bot_height" value="0.14"/>
<xacro:property name="cam_length" value="0.005"/>
<xacro:property name="cam_width" value="0.01"/>
<xacro:property name="cam_height" value="0.01"/>
<xacro:property name="cam_mass" value="0.02"/>


<xacro:macro name="box_inertia" params="m x y z">
    <inertia ixx="${(m/12)*(y*y+z*z)}" ixy = "0" ixz = "0"
                iyy="${(m/12)*(x*x+z*z)}" iyz = "0"
                izz="${(m/12)*(x*x+z*z)}"/>
</xacro:macro>

<link name="camera_link">
    <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="${cam_mass}"/>
        <xacro:box_inertia m="${cam_mass}" x="${cam_length}" y="${cam_width}" z="${cam_height}"/>
    </inertial>

    <visual>
        <geometry>
            <box size="${cam_length} ${cam_width} ${cam_height}"/>
        </geometry>
        <material name="red">
            <color rgba= "1.0 0.0 0.0 1.0"/>
        </material>
    </visual>

    <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
            <box size="${cam_length} ${cam_width} ${cam_height}"/>
        </geometry>
    </collision>
</link>
<joint name="joint_name" type="fixed">
    <axis xyz="0 1 0"/>
    <parent link="base_link"/>
    <child link="camera_link"/>
    <origin xyz="0.032 0.0 ${bot_height}" rpy="0.0 0.0 0.0"/>
</joint>
</robot>
